<div class="container mt-4">
    <h1>All offers</h1>
  <p></p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Model</th>
        <th>Localization</th>
        <th>Price</th>
        <th>Condition</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= link_to offer.bike, offer_path(offer) %></td>
          <td><%= offer.localization %></td>
          <td><%= number_to_currency offer.price %></td>
          <td><%= offer.bike_condition %></td>
            <% if offer.available? %>
              <td><%= link_to 'Available', offers_path(offer), class:"btn btn-outline-primary" %></td>
            <% else %>
              <td><button type="button" class="btn btn-outline-dark" disabled>Not Available</button></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <%= link_to "Back", root_path, class:"btn btn-secondary" %>
</div>
_______________________

