<div class="container">
<%= simple_form_for(@offer) do |f| %>
  <%= f.input :bike, label: "Your bike model" %>
  <%= f.input :localization, label: "The city where your bike is" %>
  <%= f.input :price %>
  <%= f.input :bike_condition, as: :radio_buttons, collection: [['new'], ['used'], ['under maintence']] %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
</div>
<hr>
<div class="container">

  <%= link_to "Back", root_path, class:"btn btn-secondary" %>
</div>
