
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, radius: 60 %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-9">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <h1><%= @offer.bike %></h2>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-sm-9">
          <div class="well default text-left">
            <h3><%= @offer.localization %></h3>
            <h3>Price: $<%= @offer.price %></h3>
            <h3>Condition: <%= @offer.bike_condition %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
