<div class="container mt-4">
    <h1>All products</h1>
    <p></p>

    <div class="container mt-5 mb-5">
  <%= link_to "Create", new_product_path, class:"btn btn-primary" %>
  <%= link_to "Back", root_path, class:"btn btn-secondary" %>
</div>

  <table class="table table-striped mb-5">
    <thead>
      <tr>
        <th>Model</th>
        <th>Localization</th>
        <th>Price</th>
        <th>Condition</th>
        <th>Availability</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
        <span class="mytooltip tooltip-effect-1">
          <td class="tooltip-item"><%= link_to product.bike, product_path(product) %></td>
        <span class="tooltip-content clearfix">
        </span>
        </span>

          <td><%= product.localization %></td>
          <td><%= number_to_currency product.price %></td>
          <td><%= product.bike_condition %></td>
            <% if product.available? %>
              <td><%= link_to 'Available', products_path(product), class:"btn btn-outline-primary" %></td>
            <% else %>
              <td><button type="button" class="btn btn-outline-dark" disabled>Not Available</button></td>
            <% end %>

            <%# if policy(product).edit? %>
              <td><%= link_to "Edit", edit_product_path(product), class:"btn btn-outline-primary" %></td>
            <%# end %>

            <%# if policy(product).destroy? %>
              <td><%= link_to "Delete",
                              product,
                              method: :delete,
                              data: { confirm: "Are you sure?" }, class:"btn btn-outline-primary" %></td>
            <%# end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
