<div class="container mt-4 text-center">
  <div class="row">
    <div class="col-sm-11 well">
      <div class="well">
        <% @product.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, radius: 60 %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-11">
        <div class="panel panel-default text-left">
          <div class="panel-body">
            <h1><%= @product.bike %></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-11">
          <div class="well default text-left">
            <h3><%= @product.localization %></h3>
            <h3>Price: $<%= @product.price %></h3>
            <h3>Condition: <%= @product.bike_condition %></h3>
          </div>
        </div>
    </div>
</div>

<div class="container mt-4">
  <%= link_to "Back", products_path, class:"btn btn-secondary" %>
</div>
